<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Course Registration System</title>
   <link rel="stylesheet" href="/css/main-style.css">
</head>
<body>
    <nav class="nav-bar">
        <% if (user.role === 'student') { %>
            <a href="/student/dashboard"><img src="/images/bportlogo3.png" alt="University Logo" class="logo"></a> 
            <a href="/student/courses" class="nav-item <%= path === '/student/courses' ? 'active' : '' %>">Available Courses</a>
            <a href="/student/dropped" class="nav-item <%= path === '/student/dropped' ? 'active' : '' %>">Dropped Courses</a>
            <a href="/change-password" class="nav-item <%= path === '/change-password' ? 'active' : '' %>">Change Password</a>
            <a href="/logout" class="nav-item">Logout</a>
        <% } else if (user.role === 'teacher') { %>
            <a href="/teacher/dashboard"><img src="/images/bportlogo3.png" alt="University Logo" class="logo"></a> 
            <a href="/teacher/courses/new" class="nav-item <%= path === '/teacher/courses/new' ? 'active' : '' %>">Add Course</a>
            <a href="/change-password" class="nav-item <%= path === '/change-password' ? 'active' : '' %>">Change Password</a>
            <a href="/logout" class="nav-item">Logout</a>
        <% } else if (user.role === 'admin') { %>
            <a href="/admin/dashboard"><img src="/images/bportlogo3.png" alt="University Logo" class="logo"></a> 
            <a href="/change-password" class="nav-item <%= path === '/change-password' ? 'active' : '' %>">Change Password</a>
            <a href="/logout" class="nav-item">Logout</a>
        <% } %>
    </nav>
    
    <main class="main-content">
        <%- body %>
    </main>
</body>
</html>