

<header class="header">
    <h1 class="dashboard-title">Dashboard</h1>
    <div class="profile">
        <div class="profile-icon"><%= user.username.substring(0, 2).toUpperCase() %></div>
        <span><%= user.username %></span>
    </div>
    <link rel="stylesheet" href="/css/student-style.css">
    
</header>

<div class="courses-container">
    <h2 class="courses-title">My Courses</h2>
    <div class="courses-list">
        <% if (locals.registrations && registrations.length > 0) { %>
            <% registrations.forEach(course => { %>
                <div class="course-card">
                    <div class="course-header">
                        <h3 class="course-code"><%= course.name %></h3>
                        
                    </div>
                    <p class="course-professor">Professor: <%= course.teacher_first_name %> <%= course.teacher_last_name %></p>
                    <p class="course-description"><%= course.description %></p>
                    <div class="enrollment-date">
                        Capacity: <%= course.current_enrollment %>/<%= course.max_capacity %>
                    </div>
                </div>
            <% }); %>
        <% } else { %>
            <div class="course-card">
                <p class="course-description">No courses registered yet.</p>
            </div>
        <% } %>
    </div>
</div>
